project                 = "wikiread"
environment             = "prod"
aws_region              = "eu-west-2"
vpc_cidr                = "10.40.0.0/16"
az_count                = 3
nat_gateway_count       = 3
repo_owner              = "your-github-user-or-org"
repo_name               = "Wikiread"
repo_branch             = "main"
codestar_connection_arn = "arn:aws:codestar-connections:eu-west-2:111122223333:connection/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
manager_email           = "manager@example.com"
db_name                 = "wikiread"
db_username             = "wiki_admin"
db_password             = "replace-with-strong-password"
node_instance_types     = ["t3.medium"]
node_group_min_size     = 2
node_group_desired_size = 3
node_group_max_size     = 8
enable_metrics_server_addon          = true
enable_cloudwatch_observability_addon = true
allowed_cidrs_for_eks_api = ["0.0.0.0/0"]
